{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 13.722230106613376,
        "longitude": 100.51017165184022,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Asia/Bangkok",
        "external_url": null,
        "internal_url": null
    }
}